{% extends "base.html" % }
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Test Sports{% end block %}
{% block page_content %}
  <html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

  <h1>Enter an event description here:</h1>
  <!-- POST doesn't show submitted data in url -->
  <form action="" method="post" name="desription">
      <p>
          {{ form.descr_str(size=80) }}<br>
      </p>
      <p><input type="submit" value="OK"></p>
      <br>
        <h1>Result here:</h1>
          {{ form.res_str(size=80) }}
  </form>

  {{wtf.quick_form(form)}}
  {% endblock %}
  </body>
  </html>